[submodule "workspace/rui314"]
	path = workspace/rui314
	url = git@github.com:rui314/9cc.git
[submodule "workspace/course2020"]
	path = workspace/course2020
	url = git@github.com:rui314/course2020.git
